footer
    width: 100%
    background-image: url(../img/footer.png)
    background-size: cover
    background-position: top center
    padding-top: 424px

footer p
    text-align: center
    background-color: #1a1a1a
    color: #fff
    padding: 13px 0 
    margin: 0