
.tai
    display: flex
    flex-direction: column
    padding-bottom: 77px
    padding-top: 77px

    +media (1024)
        flex-direction: row

    &content
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: space-between
        width: 100%

        +media (768)
            flex-direction: row

        h4
            width: 100%
            text-align: center

            +media (768)
                text-align: left

    &container

        +media (768)
            width: calc(100% - 317px)

.taiimg
    padding: 10px 25px 0 0

    img
        width: 100%
        height: 270px
        object-fit: none

        +media(480)
            width: 270px

        +media(1024)
            width: 370px

.wave
    padding: 100px 0
    background-image: url('../img/wave.png')
    background-size: cover
    background-position: center

    &flex
        display: flex
        flex-direction: column

        +media (768)
            flex-direction: row

    &main
        width: 100%
        color: #fff

        +media(728)
            width: 50%

        span
            color: #0099ff

        h4
            margin: 0
            font-size: 56px
            text-transform: uppercase
            text-align: center
            letter-spacing: 2px

            +media (768)
                text-align: left

        p
            margin: 30px 0
            max-width: 450px
            color: #fff
            font-size: 16px
            font-family: "PT Sans"
            line-height: 24px

    &feed
        position: relative
        margin: 20px 0
        padding-bottom: 35px
        width: 100%
        height: min-content
        color: #fff

        +media(1024)
            margin: 20px 0 20px 20px
            width: 50%

        img
            position: absolute
            left: 50%
            bottom: 0
            transform: translate(-50%, 50%)

        .small
            text-align: center

.preloader
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background-color: #0099ffc5

.all
    margin: 0
    padding-bottom: 15px
    color: white
    font-size: 16px
    font-style: italic
    line-height: 25px

.transpe::before,
.transpe::after
    content: ''
    position: absolute
    top: 0
    width: 81px
    height: 100%
    border: 4px solid #fff
    opacity: 0.102

    +media(768)
        width: 150px

    +media(1175)
        width: 200px

.transpe::before
    left: 0
    border-right: none

    +media(1024)
        left: 0

    +media(568)
        left: 20px

.transpe::after
    right: 0
    border-left: none

    +media(1024)
        right: 0

    +media(568)
        right: 20px

.p
    position: absolute
    top: 0
    left: 50%
    margin: 0
    margin-left: 60px
    color: #ffb700
    font-size: 78px
    text-align: center
    transform: translate(-50%, -50%)

.ol
    margin: 0
    color: #ffffff
    font-size: 18px
    text-align: center

.tx
    margin-top: 30px
    margin-bottom: 20px
    padding: 0 30px

    +media (768)
        margin-top: 35px
        padding: 0 35px

.prise
    margin-bottom: 50px
    color: #333
    font-size: 16px
    font-style: italic
    text-align: center

.price
    margin-top: 77px
    margin-bottom: 50px

.pricecards
    display: flex
    flex-direction: column
    row-gap: 30px
    margin-bottom: 77px

    +media (768)
        flex-wrap: wrap
        flex-direction: row
        column-gap: 30px

    +media (1024)
        flex-direction: row
        flex-wrap: nowrap

.priceitem
    position: relative
    padding-bottom: 55px
    width: 270px
    //height: 332px
    transition: all 1s ease

    p
        margin: 5px 0
        padding: 0 20px
        color: #999999
        font-size: 13px

    h4
        margin: 15px 0
        padding: 0 20px

    h5
        margin: 0
        color: #0099ff
        font-size: 20px
        white-space: nowrap

        +media(1440)
            font-size: 24px

    a
        color: #ffb700
        font-size: 13px
        text-transform: uppercase
        text-align: center
        white-space: nowrap

    &:hover
        background-color: #fff
        filter: drop-shadow(0 4px 10.5px rgba(3, 20, 31, .05))

    img
        width: 100%
        height: 185px

.blueline
    position: absolute
    top: 0
    left: 0
    width: 60px
    height: 185px
    background-color: #0099ff

    img
        margin: 77px 10px
        width: 40px
        height: 35px

.test
    position: absolute
    bottom: 0
    align-items: center
    justify-content: space-between
    display: flex
    padding: 0 20px
    width: 100%
    box-sizing: border-box

.h4
    margin: 0
    color: #333333
    font-size: 36px
    text-transform: uppercase
    text-align: center
    text-align: center

.inform
    flex-direction: column
    justify-content: center
    align-content: center
    flex-wrap: wrap
    display: flex
    column-gap: 30px
    row-gap: 30px
    margin-top: 77px

    +media (1180)
        flex-direction: row
        flex-wrap: nowrap

    h4
        margin: 10px 0
        width: 270px
        color: #333333
        font-size: 36px
        text-transform: uppercase
        text-align: center
        letter-spacing: 1px

        +media (768)
            text-align: left

    &card
        position: relative
        display: flex
        flex-direction: column
        column-gap: 30px
        row-gap: 30px

        +media (768)
            flex-direction: row

        p
            margin: 20px 0
            color: #ffffff
            font-size: 13px
            line-height: 19px

        a
            color: #ffffff
            font-size: 18px
            font-weight: 400
            font-family: "Rubik"
            line-height: 24px
            span
                display: block
                padding-left: 45px
                color: #bbbbbb
                font-size: 13px

        img
            float: left
            margin-right: 15px

        .download
            position: absolute
            bottom: 30px
            padding: 0 15px
            font-size: 12px
            color: #ffb700
            text-transform: uppercase
            text-align: center
            border: 2px solid #ffb700
            border-radius: 15px
            transition: all 1s ease

            &:hover
                color: #fff
                background-color: #ffb700

    &question
        position: relative
        width: 270px

.graf
    padding: 20px
    width: 228px
    height: 228px
    //margin-right: 50px
    background-image: url('../img/house.png')
    background-size: cover
    background-position: center

.food
    width: 228px
    height: 228px
    padding: 20px
    //margin-right: 50px
    background-image: url('../img/height.png')
    background-size: cover
    background-position: center

.border::before,
.border::after
    content: ''
    position: absolute
    width: 50px
    height: 260px
    border: 4px solid #ffb700

.border::before
    left: 0
    border-right: none

.border::after
    right: 0
    border-left: none

.question
    position: relative
    bottom: 20px
    text-align: center

    p
        margin: 0
        padding: 10px
        font-size: 18px
        font-weight: 400
        text-align: center      

    a
        margin-top: 5px
        margin-left: 5px
        color: #0099ff
        font-size: 18px
        text-align: center

    .img
        position: absolute
        top: 125%
        left: 50%
        transform: translate(-50%, -50%)

    .small
        padding: 20px 60px
        font-size: 13px

    .smalll
        padding: 0
        color: #999999
        font-size: 13px
        font-family: "PT Sans"
        text-align: center

.wideTx
    letter-spacing: 1px
